

.section_form {

    width: 100%;
    @include displayFlexJustified;
}

.form {
    margin-top: 2rem;
    flex-direction: column;
    width: 20rem;
    &_div {
        @include displayFlexLeftLabel;
        gap: 0.5rem;
        font-size: 22px;
        margin-bottom: 1rem;

        input {
            height: 1.5rem;
        }

        &_error_paragraph {
            color: red;
            margin: 0%;
            font-size: 16px;
            display: none;
        }
    }

    &_fieldset {

        margin-bottom: 2rem;

        legend {
            font-size: 22px;
        }
    }

    &_department {
        @include displayFlexLeftLabel;
        row-gap: 1rem;
        font-size: 22px;
        margin-bottom: 2rem;
    }

    

}