
@mixin displayFlexJustified {

    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin displayFlexLeftLabel {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}